.ui-slider,
.ui-slider .slider-range-inverse,
.ui-slider .ui-slider-range {
  height: 14px;
  border-radius: 10px;
  border-width: 0;
}

body {
  background: #f0f0f0;
  font-family: Helvetica, Arial;
}

h1 {
  text-align: center;
  color: #444;
  margin-top: 50px;
}

#slider-container {
  width: 80%;
  height: 80px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  top: 50%;
  margin: 0 auto;
  text-align: center;
  background: #fff;
  border-radius: 5px;
  padding: 35px 40px 30px 40px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.ui-slider {
  background-color: #1abc9c;
  background-image: -webkit-linear-gradient(
    left,
    #1abc9c 0%,
    #f1c40f 50%,
    #e74c3c 100%
  );
  background-image: linear-gradient(
    to right,
    #1abc9c 0%,
    #f1c40f 50%,
    #e74c3c 100%
  );
}
.ui-slider * {
  outline: none;
}
.ui-slider .slider-range-inverse {
  background: #ccc;
  position: absolute;
  right: 0;
}
.ui-slider .ui-slider-range {
  background: transparent;
}
.ui-slider .ui-slider-handle {
  width: 28px;
  height: 28px;
  cursor: pointer;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  background: #fff;
  top: -7px;
  border-radius: 50%;
  border-width: 0;
}
.ui-slider .ui-slider-handle:active {
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
}
.ui-slider .ui-slider-handle .dot {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
  background: transparent;
  overflow: hidden;
}
.ui-slider .ui-slider-handle .dot .handle-track {
  display: block;
  height: 18px;
  background-color: #1abc9c;
  background-image: -webkit-linear-gradient(
    left,
    #1abc9c 0%,
    #f1c40f 50%,
    #e74c3c 100%
  );
  background-image: linear-gradient(
    to right,
    #1abc9c 0%,
    #f1c40f 50%,
    #e74c3c 100%
  );
  position: absolute;
  padding-right: 18px;
}
